<div class="row">
    <br />
    <div class="container">
        <h4> New </h4>
        <a href="~/Work/Create"><button class="btn btn-xs btn-success">Create New Day</button></a>
        <hr />
        <h4> Recent Days </h4>
        <ul class="list-group">
            <li class="list-group-item"> Day 1 </li>
            <li class="list-group-item"> Day 2 </li>
            <li class="list-group-item"> Day 3 </li>
            <li class="list-group-item"> Day 4 </li>
        </ul>
        <a href="~/Work/Index"><button class="btn btn-xs">All History</button></a>
    </div>
</div>