<div class="row">
    <div class="container">
        <h3> Quick Start </h3>
        <hr />
        <h4> New Day</h4>
        <a href="~/Work/Create"><button class="btn btn-xs btn-success">Create New Day</button></a>
        <hr />
        <h4> New Product </h4>
        <a href="~/Work/Create"><button class="btn btn-xs btn-success">Create New Product</button></a>
    </div>
</div>