

.heading-divider {
    border-top: 1px solid grey;
}

.active-day {
    background-color: #eff7eb;
}

.inactive-day {
    background-color: #f7f7f7;
}

.product-list-item:nth-child(even) {
    background-color: #f7f7f7;
}

.product-list-item:hover {
    background-color: #eff7eb;
}
