

.heading-divider {
    border-top: 1px solid grey;
}

.table-item:nth-child(even) {
    background-color: #f7f7f7;
}

.table-item:hover {
    background-color: #ecf3f9;
}


.table-day-col {
    width: 70%;
}

.table {
    border: 1px solid lightgrey;
}

.time-input {
    width: 195px;
    display: inline-block;
}

.type-input {
    width: 195px;
    display: inline-block;
}

.time-input-btn {
    width: 80px;
}

.type-dropdown {
    display: inline;
}

    .type-dropdown ul {
        margin-top: 12px;
    }

    .type-dropdown button {
        width: 80px;
    }

@media print {
    a, footer, .btn {
        display: none;
    }
}
