

.heading-divider {
    border-top: 1px solid grey;
}

.table-item:nth-child(even) {
    background-color: #f7f7f7;
}

.table-item:hover {
    background-color: #ecf3f9;
}


.table-day-col {
    width: 70%;
}

.table {
    border: 1px solid lightgrey;
}
